<style>


h1 {
	margin-bottom: 15px;
}

.titles{
	border: 1px solid black;
	text-align: right;
	background-color: blueviolet;
	float:  right;
}

p {
	border: 1px solid black;
	background-color: #A51F2A;
	width:  90%;
	height:  150px;
	margin-right: auto;
	margin-left: auto;
	font-family: helvetica;
	color: white;
}

.row {
	width: 100%;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float:  left;
		border: 1px solid green;
	}
	.col-lg-4 {width: 33%;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float:  left;
		border: 1px solid blue;
	}
	.col-md-6 {width: 50%;}
}

@media (max-width: 767px) {
	.col-xs-12 {
		float:  left;
		border: 1px solid darkred;
	}
	.col-xs-12 {width: 100%;}
}


</style>
